.logoback {

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    z-index: 1000;
}


.logo {
    width: 500px;
    height: 300px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}


.navbar {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar li {
    list-style: none;
}

.navbar a {
    font-size: 22px;
    padding: 15px;
    border-radius: 10px;
}

.navbar a:hover {
    background: rgb(42, 191, 176);
    color: black;
}


.navbar.active {
    transform: translateY(0);
    opacity: 1;
}

.navbar li a i {
    font-size: 20px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
    margin-left: auto;
}


.menu-toggle div {
    width: 30px;
    height: 4px;
    background: white;
    margin: 2px 0;
    transition: 0.4s;
}

.menu-toggle.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active div:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 100px 20px 80px 20px;
    gap: 10px;
    scroll-margin-top: 120px;
}

.home_informacoes {
    text-align: center;
}

.home_informacoes :first-child {
    margin-bottom: 20px;
}

.home video {
    width: 45%;

}



.cursos {
    margin-top: 60px;
    width: 100%;
}

.conteudoCursos {
    width: 100%;
    min-height: 300px;
    margin-top: 60px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.conteudoCursos.piano,
.conteudoCursos.bateria {
    flex-direction: row-reverse;
}

.conteudoCursos img {
    opacity: 0.4;
    width: 35%;


}

.conteudoCursos p {
    margin: 25px;
    flex: 1;

}

.videos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    gap: 30px;
}

.carousel-container {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 400px;
    /* height: 1000px; */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.carousel {
    display: flex;
    width: 300px;
    height: 500px;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

button:hover {
    background: rgba(0, 0, 0, 0.8);
}


.sobreMarina {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 100%;
}

.sobreMarina p {
    text-align: center;
    margin: 20px;
}

.fotoMarina {
    width: 40%;
    height: 40%;
    padding-top: 30px;
}


.localizacao {
    font-size: 25px;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.localizacao iframe {
    margin-top: 50px;
    max-width: 90%;
}