@media(max-width:1240px) {
    .home video {
        display: none;

    }
}


@media screen and (max-width: 768px) {


    .logoback {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .logo {
        width: 220px;
        height: auto;
    }

    nav {
        justify-content: flex-end;
        position: relative;
    }

    .menu-toggle {
        display: flex;
    }


    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        /* background: #2f2f2f; */
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
        display: none;
        border-radius: 0 0 12px 12px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    }

    .navbar.active {
        display: flex;
    }

    .navbar li {
        width: 100%;
        text-align: center;
    }

    .navbar a {
        width: 100%;
        padding: 14px 0;
        font-size: 18px;
    }


    .home {
        width: 70%;
        flex-wrap: wrap;
    }

    .conteudoCursos {
        width: 74%;
        flex-wrap: wrap;
    }

    .conteudoCursos img {
        display: none;
    }

    .conteudoCursos.piano {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(./img/piano.jpg) no-repeat center/cover;
    }

    .conteudoCursos.violao {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(./img/violao.jpg) no-repeat center/cover;
    }

    .conteudoCursos.bateria {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(./img/bateria.jpg) no-repeat center/cover;
    }

    .conteudoCursos.canto {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(./img/aula\ de\ canto.jpg) no-repeat center/cover;
    }

    .videos {
        width: 70%;
    }

    .carousel-container {
        width: 350px;

    }

    .sobreMarina {
        width: 70%;
    }

    .sobreMarina p {
        width: 70%;
    }

    .localizacao {
        width: 74%;
        justify-content: center;
        align-items: center;
    }

}